<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Message Board with React.js</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  </head>

  <body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div id="header"></div>
        <!-- TODO: Render HTML for Header -->
      </div>
    </div>
    <div>{{{props}}}</div>
    <div class="row-fluid">
      <div class="span12">
        <div id="content">
          <div class="row-fluid"  id="message-board" /></div>
          <!-- TODO: Render HTML for MessageBoard -->
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div id="footer"></div>
        <!-- TODO: Render HTML for Footer -->
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
